# Build output
build/
out/
cmake-build-*/
.vs/

# Visual Studio
*.user
*.suo
*.VC.db
*.VC.VC.opendb

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Binaries
*.exe
*.obj
*.pdb
*.ilk
*.lib
*.dll

# OS files
.DS_Store
Thumbs.db
